<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.maybeachtech.bluetooth"
        version   = "1.0">
    
    <name>Chat</name>
    <description>
        A Sample Chat Application demonstrating the BluetoothSerial PhoneGap plugin.
    </description>
    <author email="don.coleman@gmail.com" href="http://megster.com">
        Don Coleman
    </author>

    <!--Maybeach Tech
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->
    <!--<preference name="permissions"                value="none"/>-->
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="phonegap-version" value="3.6.3" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="KeyboardShrinksView" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    
    <!-- Plugins -->

    <!-- Core plugins -->
    <gap:plugin name="com.megster.cordova.bluetoothserial" version="0.3.3" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />

    <!-- Third party plugins -->
    <!-- A list of available plugins are available at https://build.phonegap.com/plugins -->
    <!-- 
        <gap:plugin name="com.phonegap.plugins.barcodescanner" />
    -->

	<icon height="512" src="res/icon/cordova_512.png" width="512" />
    <icon cdv:platform="android" height="96" src="res/icon/cordova_android_96.png" width="96" />
    <icon cdv:platform="blackberry" height="80" src="res/icon/cordova_bb_80.png" width="80" />
    <icon cdv:platform="ios" height="144" src="res/icon/cordova_ios_144.png" width="144" />
    <gap:splash gap:platform="android" height="480" src="res/screen/android_hdpi_landscape.png" width="800" />
    <gap:splash gap:platform="android" height="800" src="res/screen/android_hdpi_portrait.png" width="480" />
    <gap:splash gap:platform="android" height="200" src="res/screen/android_ldpi_landscape.png" width="320" />
    <gap:splash gap:platform="android" height="320" src="res/screen/android_ldpi_portrait.png" width="200" />
    <gap:splash gap:platform="android" height="320" src="res/screen/android_mdpi_landscape.png" width="480" />
    <gap:splash gap:platform="android" height="480" src="res/screen/android_mdpi_portrait.png" width="320" />
    <gap:splash gap:platform="android" height="720" src="res/screen/android_xhdpi_landscape.png" width="1280" />
    <gap:splash gap:platform="android" height="1280" src="res/screen/android_xhdpi_portrait.png" width="720" />
    <gap:splash gap:platform="blackberry" height="300" src="res/screen/blackberry_transparent_300.png" width="300" />
    <gap:splash gap:platform="blackberry" height="200" src="res/screen/blackberry_transparent_400.png" width="200" />
    <gap:splash gap:platform="ios" height="748" src="res/screen/ipad_landscape.png" width="1024" />
    <gap:splash gap:platform="ios" height="1004" src="res/screen/ipad_portrait.png" width="768" />
    <gap:splash gap:platform="ios" height="1496" src="res/screen/ipad_retina_landscape.png" width="2048" />
    <gap:splash gap:platform="ios" height="2008" src="res/screen/ipad_retina_portrait.png" width="1536" />
    <gap:splash gap:platform="ios" height="320" src="res/screen/iphone_landscape.png" width="480" />
    <gap:splash gap:platform="ios" height="480" src="res/screen/iphone_portrait.png" width="320" />
    <gap:splash gap:platform="ios" height="640" src="res/screen/iphone_retina_landscape.png" width="960" />
    <gap:splash gap:platform="ios" height="960" src="res/screen/iphone_retina_portrait.png" width="640" />
    <gap:splash gap:platform="winphone" height="800" src="res/screen/windows_phone_portrait.jpg" width="480" />
    
    
    <!--
        Define access to external domains.

        <access />            - a blank access tag denies access to all external resources.
        <access origin="*" /> - a wildcard access tag allows access to all external resource.

        Otherwise, you can specify specific domains:
    -->
    <access origin="*"/> <!-- allow local pages -->
    <!--
        <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
        <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
    -->

</widget>